// colors
$white: #f6f6f6;
$orange: #e76f51;
$littleOrange: #f4a261;
$yellow: #e9c46a;
$blue: #2a9d8f;
$granat: #264653;

//font 
$decorFont: 'Libre Baskerville', serif;
$regularFont: 'Roboto', sans-serif;

//weight 

$thin: 100;
$regular: 400;
$medium: 500;
$bold: 700;